.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
}

.logo {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}